Package: PKGNAME
Version: VERSION
Architecture: ARCH
Depends: jq,
         logrotate,
         python3-serial,
         sqlite3,
         tmux
Maintainer: Fredrik Atmer <fredrik@atmer.se>
Description: Access control system.
