[Unit]
Description=Friskola Access System - Monitor
After=networking.service

[Service]
User=root
Type=forking
ExecStart=/usr/local/bin/friskola-access-monitor
WorkingDirectory=/tmp
StartLimitIntervalSec=60
StartLimitBurst=5
StartLimitAction=none
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
